<div class="my-container mx-auto border border-dark">
  <div class="row g-0">
    <!-- Profile image of Product-->
    <div class="col-4 p-4">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="../../assets/cars/audi/{{ imageIndex }}.png"
          alt=""
          class="w-100"
        />
      </div>
      <div
        class="image-thumbnail mt-4 d-flex justify-content-between align-items-center"
      >
        <img
          src="../../assets/cars/audi/1.png"
          alt="Thumbnail Image"
          (click)="imageIndex = 1"
        />
        <img
          src="../../assets/cars/audi/2.png"
          alt="Thumbnail Image"
          (click)="imageIndex = 2"
        />
        <img
          src="../../assets/cars/audi/3.png"
          alt="Thumbnail Image"
          (click)="imageIndex = 3"
        />
        <img
          src="../../assets/cars/audi/4.png"
          alt="Thumbnail Image"
          (click)="imageIndex = 4"
        />
        <img
          src="../../assets/cars/audi/5.png"
          alt="Thumbnail Image"
          (click)="imageIndex = 5"
        />
      </div>
    </div>

    <!-- Details of Product-->
    <div class="col-8 p-4">
      <div class="card">
        <div class="card-header">
          <h2>Header</h2>
        </div>
        <div class="card-body">
          <h1 class="card-title text-success">
            Final Price
            <span class="text-primary">-20%</span>
          </h1>
          <h4 class="card-subtitle text-danger text-decoration-line-through">
            Original Price
          </h4>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle my-2 text-primary">
            11 products are available
          </h6>
          <div class="d-grip gap-2">
            <button type="button" class="btn btn-outline-success">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-text">Descriere</h5>
          <ul class="list-group">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let item of [1, 1, 1, 1]"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Suggested Products -->
  <div class="row g-0">
    <div class="col-12 ps-5 pt-4 pb-3">
      <h3
        class="border border-secondary text-center py-2 my-rounded-corner w-25"
      >
        Produse Similare
      </h3>
      <div class="col-12 pt-4">
        <app-suggested-cars></app-suggested-cars>
      </div>
    </div>
  </div>

  <!-- Review -->
  <div class="row g-0 my-5">
    <!-- Users Review -->
    <div class="col p-3">
      <h3>Give Your Review</h3>
      <h5 class="mt-4">Write Your Review</h5>
      <textarea class="w-75 p-2"></textarea>
      <div class="d-flex align-items-start">
        <button class="btn btn-outline-secondary mt-4 me-5" type="button">
          Save Review
        </button>
        <div>
          <h6 class="text-danger mt-4">Login first, then enter the review</h6>
          <h6 class="text-danger">Review Cannot Be Empty!</h6>
          <h6 class="text-success">Review Saved Succesfully</h6>
        </div>
      </div>
    </div>
    <!-- Other Review-->
    <div class="col p-3">
      <h3>Other Reviews</h3>
      <h6 *ngIf="1">No Reviews Yet!</h6>
      <div class="card mt-3" *ngFor="let review of [1, 2, 3]">
        <div class="card-header d-flex justify-content-between">
          <div class="card-text">Mihai tomescu</div>
          <div class="card-text fst-italic">
            Reviewed On:
            <span class="fw-bold">{{
              "20 Mar 2023" | date : "dd-MMM-yyyy"
            }}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">Faina masina</div>
        </div>
      </div>
    </div>
  </div>
</div>
