:host {
  display: block;
  overflow: hidden;
  height: max-content;
  box-shadow: 0px 0px 0.75rem rgba(0, 0, 0, 0.3);
  transition: transform 200ms ease-in-out;
}

:host:hover {
  transform: scale(1.05);
}

img {
  cursor: pointer;
  transition: transform 100ms ease-in;
}

img:hover {
  transform: scale(1.03);
}
button:hover {
  background-color: rgb(101, 168, 0);
  color: white;
}
button {
  border-color: green;
}
