.product-baner button {
  position: absolute;
  top: 50%;
  left: 70%;
  background-color: black;
  color: white;
  opacity: 70%;
}
.product-baner button:hover {
  position: absolute;
  top: 50%;
  left: 70%;
  background-color: white;
  color: black;
  opacity: 70%;
}
